body {
    font-family: 'Special Elite', cursive;
    background: linear-gradient(to right top, #ff0000, #ff6200, #eeff00, #26ff00, #0000ff, #5100ff, #9500ff);
}

.header_div {
    background: rgb(218, 246, 255);
    color: #af004f;
    font-family: 'Ultra', serif;
}

.header_div p {
    font-family: 'Satisfy', cursive;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Oleo Script', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: #10008d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(218, 246, 255);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#result_labeL,
#result_confidence {
    color: black;
    font-family: 'Lobster', cursive;
}